@import url(/assets/css/global/reset.css);
@import url(/assets/css/global/variables.css);
@import url(/assets/css/pages/index/partials/header.css);
@import url(/assets/css/global/elements.css);
@import url(/assets/css/global/fonts.css);
@import url(/assets/css/pages/index/partials/hero.css);