body {
  background-color: var(--primary-color-1);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.tittle {
  font-size: 3rem;
  font-size: 3rem;
  color: var(--secondary-color-1);
}
a {
  color: var(--text-color);
  font-size: 1rem;
}
/* .container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
} */
.btn-primary {
  background-color: var(--secondary-color-2);
  color: var(--text-color);
  padding: 0.75rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn-primary:hover {
  background-color: var(--secondary-color-3);
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn-secondary {
  background-color: #303030;
  padding: 0.75rem 2rem;
  border-radius: 8px;
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn-secondary:hover {
  background-color: var(--secondary-color-1);
  color: var(--primary-color-2);
}
.icon {
  width: 24px;
  height: 24px;
  fill: var(--text-color);
}
