body{
    background-color: var(--primary-color-1);
    color: var(--text-color);
     font-family: 'Poppins', sans-serif;
     font-weight: 600;
}
.tittle {
    font-size: 3rem;
   font-size: 3rem;
   color: var(--secondary-color-1);
}
a{
    color: var(--text-color);
    font-size: 1rem;
}
.container{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}