*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}   
