.card-container {
  margin: 64px 0;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.card-img {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  align-items: center;
  margin: 64px 32px;
  gap: 2rem;
}
.card-flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: var(--background-card);
}

.card-tittle {
  font-size: 2rem;
  color: var(--secondary-color-1);
  margin-bottom: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 1000px) {
  .card-container {
    margin: 32px 0;
  }
  .card-img {
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 200px;
  }
  .card-grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    margin: 2rem 4rem;
    gap: 1rem;
  }
}


