.footer{
    text-align: center;
    font-size: 1rem;
    padding: 20px 0;
    color: var(--text-color);
    
}
@media screen and (max-width: 1000px) {
    .footer{
        font-size: 0.9rem;
        padding: 15px 0;
    }
    
}