
.header-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    ;
}
.nav-box{
    display: flex;
    flex-direction: row;
    gap: 2rem;

}

.links{
   background-color: var(--secondary-color-2);
    padding: .75rem;
    border-radius: 8px;
}
.links:hover{
    background-color: var(--secondary-color-3);
    transition: .3s;
}