
.header-links{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 2rem 4rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    ;
}
.nav-links{
    display: grid;
    justify-content: center;
    align-items: center;
    
}
.nav-box{
    display: flex;
    flex-direction: row;
    gap: 4rem;
}
li a{
    font-size: 1.2rem;
    
}
