.hero-img {
  display: block;
  width: 100%;
  max-width: 550px;
  height: 100%;
  max-width: 530px;
  margin: 0 auto;
  border-radius: 8px;
  grid-row: 2;
}

.container-hero {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.hero {
  margin: 64px;
}
.hero-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(230, 1fr));
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.hero-tittle {
  font-size: 3rem;
  color: var(--secondary-color-1);
  margin-bottom: 2rem;
  line-height: 1.2;
  grid-column: 1 / 2;
}
.hero-text {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  font-weight: 200;
  color: var(--text-color);
  margin-top: 2rem;
  margin-bottom: 2rem;
  grid-row: 2 / 2;
}
.hero-button {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-top: 2rem;
  grid-row: 3 / 3;
}

@media screen and (max-width: 1000px) {
 .hero-img {
grid-area: 2 / 1 / 2 / 4;
}

.container-hero {
 text-align: center;
}
.hero {
  margin: 2rem;
}
.hero-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}
.hero-tittle {
 grid-area: 1 / 1 / 1 / 4;
}
.hero-text {
grid-area: 3 / 1 / 3 / 4;
}
.hero-button {
justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  grid-area: 4 / 1 / 4 / 4;
}

}
