img {
  max-width: 250px;
  max-height: 400px;
}
main {
  max-width: 1100px;
  margin: 0 auto;
}
.hero {
  background-color: var(--primary-color-2);
  padding: 4rem 2rem;
  gap: 2rem;
}
.hero-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 2rem;
  padding: 2rem;
}
