A pasta partials, serve para serapar 
a estilização por etapas
para melhor organização do código.

Cada arquivo dentro da pasta partials
deve conter apenas o código referente

àquela parte específica da página.
Por exemplo, o arquivo notes.html
deve conter apenas o código CSS relacionado
às notas da página de contato.
Dessa forma, facilita a manutenção
e a leitura do código, permitindo
que desenvolvedores encontrem
e modifiquem estilos específicos
de maneira mais eficiente.
Além disso, essa abordagem modular
promove a reutilização de código,
pois estilos comuns podem ser
compartilhados entre diferentes partes
da página ou até mesmo entre
diferentes páginas do projeto.
Isso contribui para um desenvolvimento
mais organizado e escalável.
Assim, a pasta partials ajuda
a manter o código CSS limpo,
organizado e fácil de gerenciar,
especialmente em projetos maiores.